<input type="text" placeholder="search" (keypress)="getfilteredusers()" [(ngModel)]="term">

<label for="">colum</label>
<select [(ngModel)]="colum">
    <option  >fee</option>
    <option >name</option>
</select>

<label for="">order</label>
<select [(ngModel)]="order" >
    <option >asc</option>
    <option >desc</option>
</select>

<button (click)="sort()">sort</button>

<select [(ngModel)]="pageno" >
    <option >1</option>
    <option >2</option>
    <option >3</option>
    <option >4</option>
    <option >5</option>
</select>
<button (click)="page()">page</button>


<table>
    <thead>
        <tr>
            <th>name</th>
            <th>phone </th>
            <th>city</th>
            <th>fee</th>
            <th>image </th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users ">
            

            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.city}}</td>
            <td>{{user.fee}}</td>
            <td>
                <img src="{{user.image}}" alt="">
            </td>
            <td>{{user.id}}</td>

            <td>
                <button (click)="delete(user.id)">delete</button>
            </td>
            

        </tr>
    </tbody>
   </table>
