<div class="parent">
    <div class="left">
        <h3>raju</h3>
        <h1 routerLink="structaldirectives">structure</h1>
        <h1 routerLink="marks">marks</h1>
        
        <h1 routerLink="pipes">pipes</h1>
        
        <h1 routerLink="events">events</h1>

        <h1 routerLink="cars">cars</h1>

        <h1 routerLink="products">products</h1>

        <h1 routerLink="users">user</h1>

        <h1 routerLink="account">account</h1>

        <h1 routerLink="vehicles">vehicle</h1>

        <h1 routerLink="flipkart">flipkart</h1>

        <h1 routerLink="galary">galary</h1>

        <h1 routerLink="bank">bank</h1>

        <h1 routerLink="userinfo">userinfo</h1>

        <h1 routerLink="create">crate user</h1>

        <h1 routerLink="user-form">user-form</h1>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>
