<p>fliplort works!</p>

<div class="pa">
    <h1 class="P">FLIPKART PRODUCTS</h1>
<div class="aa">
       
        <div class="bb" *ngFor="let fliplorts of fliplort">
                <img class="q" src="{{fliplorts.image}}" alt="">
                <p class="w">{{fliplorts.title}}</p>
               
           
                <p class="i">{{fliplorts.category}}</p>
                
               
                <p class="y"><b class="mm">({{fliplorts.rating.rate}})</b>
                           &nbsp;
                 <b>({{fliplorts.rating.count}})</b> </p>
                   <p class="t">{{fliplorts.price}}</p>
                </div> >

            </div>
            



</div>
